{% extends "layout.html" %}
{% block body %}
{% from "includes/formhelpers.html" import render_field %}


<h3>Ürün Ekle</h3>
<hr>
<form method="post" action="/addproduct">
  <div class="form-group">
    <label for="isim">İsim:</label>
    <input type="text" class="form-control" name="isim" id="isim" placeholder="Ürünün Adı">
  </div>
  <div class="form-group">
    <label for="alis">Alış Fiyatı:</label>
    <input type="text" class="form-control" name="alis_fiyat" id="alis" placeholder="Ürünün Alış fiyatı">
  </div>
  <div class="form-group">
    <label for="satis">Satış Fiyatı:</label>
    <input type="text" class="form-control" name="satis_fiyat" id="satis" placeholder="Ürünün Satış fiyatı">
  </div>
  <button type="submit" class="btn btn-primary">Ürün Ekle</button>
</form>
{% endblock body %}