{% extends "layout.html" %}

{% block body %}
  <div class="container mt-4">
    <h3>{{ product.isim }}</h3>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <h5>Alış Fiyatı:</h5>
        <p>{{ product.alis_fiyat }}</p>
      </div>

      <div class="col-md-6">
        <h5>Satış Fiyatı:</h5>
        <p>{{ product.satis_fiyat }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h5>Alış Tarihi:</h5>
        <p>{{ product.date.strftime('%Y-%m-%d') }}</p>
      </div>
    </div>
  </div>
{% endblock body %}
